.highlightevil{
    background-color: red;
}
.highlightblue{
    background-color: blue;
}
.incredibagassy{
    background-color: greenyellow;
}

.sblue{
    width: 100px;
    height: 100px;
    background-color: blue;
}
#blue{
    padding-top: 40%;
    text-align: center;

}
