.layer{
  position: relative;
  width: 100%;
  height: 100%;
}

@font-face{
  font-family: "fontSlender";
  src: url("newSlendermanswriting.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;

}

body{
  background-color: black;
  background-image:url('there.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.layer p {
  position: absolute;
}
.jimbo_text{
  size: 1120px;
}

#jimbo_abovetv{
  color: antiquewhite;
  opacity:100%;
  left: 68%;
  bottom: 40%;
  
  
  font-family:'Courier New', Courier, monospace;
}
#jimbo_text4{
  size: 1120px;
  color: antiquewhite;
  opacity:10%;
  left: 70%;
  
  font-family:'Courier New', Courier, monospace;
}
#jimbo_belowtv{
  color: antiquewhite;
  left: 27%;
  opacity:100%;
  position: relative;

}
#jimbo_text3{
  color: antiquewhite;
  left: 27%;
  opacity:100%;

}
#jimbo_img{
  position: absolute;
  left: 27%;
  top: 10%;
  opacity: 13%;
  width: 5%;
  
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.slender{
  position: absolute;
  right: 14%;
  top: 28%;  /* 26 */
  width: 24%;
  opacity: 10%;
}

.slender_text p {
  font-family: "fontSlender", 'Courier New', Courier, monospace;
  color: rgb(96, 1, 1);
  font-size: 25px;
  opacity: 100%;
}

.slender_abovewindow{
  right: 24%;
  top: 25%;
}

.slender_neartree{
  right: 24%;
  top: 50%
}
